doctype html
html
  head
    title Iqbal Perkasa
    include ./meta.pug
    link(href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet')
    link(href='./style.scss' rel='stylesheet')
  body
    main.main-content
      h1 Iqbal Perkasa
      .space.space-small
      p Web product developer
      p Software engineer
      .space
      p.title Currently
      p
        | Frontend engineer,&nbsp;
        a(href='https://www.linkedin.com/company/pt-bukalapak-com') Bukalapak
      .space
      p.title Residence
      p Jakarta/Bandung, Indonesia
      .space
      p.title Stacks
      p Vue, JavaScript, Express, Sass
      .space
      p.title Handles
      p.handles
        a(href='https://github.com/iqbalperkasa') GitHub
        a(href='https://twitter.com/iqbalperkasa') Twitter
        a(href='https://www.linkedin.com/in/iqbalperkasa') LinkedIn
        a(href='https://drive.google.com/file/d/1IYpbug-9Rzx1UY3OnPPCiWnFv0d5hTV2/view') Resume
        //- a(href='https://www.instagram.com/iqbalperkasa') Instagram
